body{
    margin:0;
    font-family:arial;
    background:#fff8e1;
}
header{
    text-align:center;
    background:#ff9800;
    color:white;
    padding:20px;
}
nav{
    text-align:center;
    background:#0d47a1;
    padding:10px;
}
nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}
.content,.container{
    width:60%;
    margin:30px auto;
    padding:20px;
    background:white;
}
input,select{
    width:65%;
    padding:10px;
    margin:5px;
}
button,button{
    padding:10px;
    background:#ff9800;
    color:white;
    border:0;
}

.event-box,.product,.note,.student{
    margin-top:10px;
padding:10px;
background:#fff3cd;
}
.productimg{
    width:150px;
    height:100px;
}
#result,#message{
    margin-top:20px;
    padding:10px;
}
footer{
    text-align;center;
    padding:10px;
    background:#0d47a1;
    color:white;
}
